@import "bourbon";
@import "neat";
@import "normalize";
@import "main";
@import "base/base";

header {
	background-color: $bkrdColor;
	overflow: auto;

	.title {
		@include span-columns(6);
		@include shift(1);
		@include media($mobile){
			@include span-columns(3);
			@include shift(.25);			
		}
		@include media($medium){
			@include span-columns(5);
		}
	}
}

nav {
	@include span-columns(5);
	@include media($mobile){
		@include span-columns(4);
	}
	@include media($medium){
		@include span-columns(6);
	}

	ul {
		text-decoration: none;
		li {
			display: inline-block;
			margin-right: 1em;
		}
	}

	a:link, a:visited, a:active {
		color: white;
    	text-decoration: none;
	}

	a:hover {
		color: black;
	}
}

.intro {
	@include outer-container(70%);
	@include media($mobile){
		@include outer-container(80%);
	}
}

.features {
	@include outer-container(80%);
	margin: 1em auto;

	.feature{
		@include span-columns(4);
		@include media($mobile){
			@include span-columns(4);
		}
		@include media($tablet){
			@include span-columns(4);
		}
	}
}

.call-to-action {
	text-align: center;
	margin: 2em auto;
}

.call-to-action a {
	display: inline-block;
	font-size: 2em;
	padding: .5em;
	background-color: lighten($bkrdColor, 28);

	&:link, &:visited, &:active {
		color: black;
    	text-decoration: none;
	}

	&:hover {
		color: white;
	}
}

footer {
	@include outer-container;
	text-align: center;
}
